<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SikuliTestSuit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SikuliTestSuit.Properties.Settings>
            <setting name="settingTestDataPath" serializeAs="String">
                <value>H:\SikuliScripts\SikuliTestData</value>
            </setting>
            <setting name="settingScriptsFolder" serializeAs="String">
                <value>H:\SikuliScripts</value>
            </setting>
            <setting name="settingSikuliInstallationPath" serializeAs="String">
                <value>H:\Softwares\Sikuli built</value>
            </setting>
            <setting name="settingImageRepoPath" serializeAs="String">
                <value>H:\SikuliScripts\ImageRepo</value>
            </setting>
        </SikuliTestSuit.Properties.Settings>
    </userSettings>
</configuration>